{{#extend "layout" title="جدول رمضان" page="ramadan"}}
{{#content "main"}}
  <div class="container mx-auto px-4 py-6">
    <h1 class="text-2xl font-bold mb-4">جدول الإفطار والإمساك ب{{city}}</h1>
    {{> today}}
    <table class="table-auto w-full border-collapse border border-gray-300">
      <thead>
      <tr class="bg-emerald-500 text-white">
        <th class="border border-gray-300 px-4 py-2">التاريخ</th>
        <th class="border border-gray-300 px-4 py-2">الإمساك</th>
        <th class="border border-gray-300 px-4 py-2">الفجر</th>
        <th class="border border-gray-300 px-4 py-2">الظهر</th>
        <th class="border border-gray-300 px-4 py-2">العصر</th>
        <th class="border border-gray-300 px-4 py-2">المغرب</th>
        <th class="border border-gray-300 px-4 py-2">العشاء</th>
      </tr>
      </thead>
      <tbody>
      {{#each schedule}}
        <tr class="text-center">
          <td class="border border-gray-300 px-4 py-2">{{gregorian}}<br/>{{hijri}}</td>
          <td class="border border-gray-300 px-4 py-2">{{imsak}}</td>
          <td class="border border-gray-300 px-4 py-2">{{fajr}}</td>
          <td class="border border-gray-300 px-4 py-2">{{dhuhr}}</td>
          <td class="border border-gray-300 px-4 py-2">{{asr}}</td>
          <td class="border border-gray-300 px-4 py-2">{{maghrib}}</td>
          <td class="border border-gray-300 px-4 py-2">{{isha}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
{{/content}}
{{/extend}}